*{
  margin: 0;
  padding: 0%;
}

.container {
    height: 60px; 
    width: 100%;
    border: 1px solid rgb(255, 255, 255); 
    background-color: #464683;
}



  nav {
  background-color: #464683; /* Cor de fundo */
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none; /* Remove os marcadores */
  padding: 0;
  margin: 0;
  display: flex; /* Alinha os itens em linha */
}

nav ul li {
  margin-right: 15px; /* Espaçamento entre os itens */
}

nav ul li a {
  text-decoration: none; /* Remove o sublinhado */
  color: #ffffff; /* Cor do texto */
  font-family: sans-serif; /* Fonte */
}

img {
    width: 95px; 
    height: auto;
  }


h2{
  display: flex;
  justify-content: center;

}